<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TPWEB_suite</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <resource-ref>
    <description>Exemple de pool de connexion</description>
    <res-ref-name>jdbc/dsTPWeb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>ValiderAccesAnimateur</display-name>
    <servlet-name>ValiderAccesAnimateur</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ValiderAccesAnimateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderAccesAnimateur</servlet-name>
    <url-pattern>/animateur/ValiderAccesAnimateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValiderAccesStagiaire</display-name>
    <servlet-name>ValiderAccesStagiaire</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ValiderAccesStagiaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderAccesStagiaire</servlet-name>
    <url-pattern>/stagiaire/ValiderAccesStagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnecter</display-name>
    <servlet-name>Deconnecter</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.Deconnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnecter</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AccesAnimateurPage</display-name>
    <servlet-name>AccesAnimateurPage</servlet-name>
    <jsp-file>/animateur/accesAnimateur.jsp</jsp-file>
  </servlet>
  <servlet>
    <display-name>AccesStagiairePage</display-name>
    <servlet-name>AccesStagiairePage</servlet-name>
    <jsp-file>/stagiaire/accesStagiaire.jsp</jsp-file>
  </servlet>
  <servlet>
    <display-name>AffichageMenu</display-name>
    <servlet-name>AffichageMenu</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.AffichageMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffichageMenu</servlet-name>
    <url-pattern>/AffichageMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GererFormations</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.GererFormations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GererFormations</servlet-name>
    <url-pattern>/animateur/GestionFormations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet listant l'ensemble des formations</description>
    <display-name>ListerFormations</display-name>
    <servlet-name>ListerFormations</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ListerFormations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerFormations</servlet-name>
    <url-pattern>/ListerFormations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de gestion d'un stagiaire</description>
    <display-name>GererStagiaire</display-name>
    <servlet-name>GererStagiaire</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.GererStagiaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GererStagiaire</servlet-name>
    <url-pattern>/stagiaire/GestionProfil</url-pattern>
  </servlet-mapping>
 <!--  <filter>
    <display-name>FiltreAnimateur</display-name>
    <filter-name>FiltreAnimateur</filter-name>
    <filter-class>fr.eni_ecole.jee.filter.FiltreAnimateur</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreAnimateur</filter-name>
    <url-pattern>/animateur/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping> -->
</web-app>